@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

#card{
    /* w-[35vmin] h-[47vmin] */
    width: 33vmin;
    height: 40vmin;
    border: 1px solid #858585d2;
    box-shadow: 0 0 20px -10px #c0c0c0;
    
}



@media (max-width:733px) {
    #card{
    width: 40vmin;
    height: 50vmin;
}
#main-section{
    overflow-y: scroll;
}
}